body {
    font-family: "roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    height: auto;
    padding-left: 128px;
    padding-right: 128px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin-bottom: 128px;
}

#logo, h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.navigation li {
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.banner {
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    flex: 1 1 auto;
}

.banner-left {
    display: flex;
    flex-direction: column;
}

.banner-image {
    background-color: #E5E7EB;
    padding: 128px;
}

.header button {
    background-color: #3882F6;
    width: 100px;
    border-radius: 8px;
    padding: 8px 4px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}